{% extends 'min.html' %} 
{% load static %} 
{% block title %} {{ product.name }} {% endblock %}
{% block name %} {{ product.name }} {% endblock %}

{% block content %}
<main role="main">
  <section class="">
    <!-- WebGL Canvas -->
    <div id="three-container" class=""></div>
    <!-- Name -->
    <div class="d-none d-lg-block container-fluid title text-center text-light">
      <p class="">{{ interactive.title }}</p>
    </div>
    <!-- Index button -->
    <div class="container d-flex justify-content-between">       
      <!-- Button trigger left modal -->
      <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#leftModal">
        Índice
      </button>
       <!-- Name -->
       <div class="d-block d-lg-none container-fluid text-right text-light">
        <p class="">{{ interactive.title }}</p>
      </div>
    </div>
    <!-- Slides carousel -->
    <div class="container-fluid footer d-flex justify-content-center">
      <div class="text-light col-10 col-md-8 col-lg-6">
        <div id="slidesCarousel" class="carousel slide bg-dark-transparent bg-backdrop-blur border-round-light-25" data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item align-middle active">
              LOGO!
            </div>
            <div class="carousel-item align-middle">
              Display
            </div>
            <div class="carousel-item align-middle">
              Name 3
            </div>
          </div>
          <a class="carousel-control-prev" href="#slidesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#slidesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <!--Left Modal -->      
    <div class="modal left fade" id="leftModal" tabindex="-1" role="dialog" aria-labelledby="leftModalLabel" aria-hidden="true">
      <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-transparent bg-backdrop-blur">
          <div class="modal-header">
            <h5 class="modal-title" id="leftModalLabel">Índice</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            INDEX Content
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-outline-info">Vuelve a comenzar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Right Modal -->
    <div class="modal right fade" id="rightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
      <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-transparent bg-backdrop-blur">
          <div class="modal-header">
            <h5 class="modal-title" id="rightModalLabel">Información</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Logo (eigene Schreibweise LOGO! oder SIPLUS LOGO!) ist ein DDC-Modul (englisch Direct Digital Control), also eine kleine speicherprogrammierbare Steuerung (SPS) der Siemens AG. Sie entspricht baulich der DIN 43880, sodass sie auf die Hutschiene eines Verteilers passt. Beispielanwendungen dabei sind Beleuchtungssteuerung, Rollladensteuerung oder auch einfache Automatisierungen.
            </br></br>
            <h6 class="font-weight-bold">Programmierung</h6>
            Das Programm für die Steuerung wird entweder direkt am Gerät mit den Tasten oder komfortabler mit der Software LogoSoft Comfort am PC erstellt. Dabei wird ein grafischer Schaltplan in Funktionsplan (FUP) oder Kontaktplan (KOP) aus logischen Gattern per Drag and Drop gezeichnet. Andere Programmiersprachen, wie sie in der Norm EN 61131 spezifiziert sind, werden nicht unterstützt. Neben acht Logikfunktionen (UND, ODER, XOR usw.) sind weitere Sonderfunktionen (z. B. Ein- und Ausschaltverzögerung, Betriebsstunden- und Impulszähler, Selbsthalterelais, PI-Regler u. v. m.) integriert. LogoSoft Comfort erlaubt außerdem, das Programm in einem Simulator zu testen, ohne es in die Steuerung übertragen zu müssen.
            </br></br>
            <h6 class="font-weight-bold">Ausbaumöglichkeiten</h6>
            Durch Erweiterungsmodule kann die LOGO! auf bis zu 24 digitale Eingänge, 20 digitale Ausgänge, 8 analoge Eingänge und 8 analoge Ausgänge ausgebaut werden (ab Version LOGO!8) und kann somit auch komplexere Anlagen steuern. Des Weiteren kann sie mit einem Kommunikationsmodul für AS-Interface sowie für KNX (früher: EIB = Europäischer Installations-Bus) ausgestattet werden. Ferner gibt es die Steuerung in Varianten mit oder ohne Display. Ab Version 0BA6 kann zusätzlich ein externes Display (LOGO! TD) verwendet werden. Die 2011 eingeführte Version 0BA7 verfügt über einen Slot für SD-Karten sowie über eine Ethernetschnittstelle. Somit ist es möglich, mehrere LOGO! miteinander zu vernetzen (bis zu 9 Teilnehmer). Auch die Kommunikation mit Bedienpanels und anderen Siemenssteuerungen ist möglich.
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cerrar</button>
            <!-- <button type="button" class="btn btn-outline-primary">Vuelve a comenzar</button> -->
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
{% endblock %}

{% block scripts %}
<script>
  // RETRIEVE ASSETS
  const assets = {{ assets|safe }};
</script>
<script src="{{ interactive.bundle.url|safe }}"></script>
{% endblock %}
