{% extends 'min.html' %} 
{% load static %} 
{% block title %} {{ product.name }}{% endblock %} 
{% block content %}
<main role="main">
  <section class="text-center">
    <div class="title container-fluid">
      <h4 class="text-white">{{ product.name }}</h4>
      <h6 class="text-white">{{ interactive.title }}</h6>      
    </div>
    <div id="three-container" class=""></div>
  </section>
</main>
{% endblock %} {% block scripts %}

<script>
  // RETRIEVE ASSETS
  const assets = {{ assets|safe }};
</script>

<script src="{{ interactive.bundle.url|safe }}"></script>

{% endblock %}
