{% extends 'min.html' %}
{% load static %}
{% block content %}
<main role="main">
    <section class="text-center">
      <div class="title container-fluid">
        <h4 class="text-white">DEV</h4>
        <h5 class="text-white">Dev environment</h5>
      </div>
      <div id="three-container" class=""></div>
    </section>
</main>
{% endblock %}

{% block scripts %}

<script>
    // RETRIEVE ASSETS (Like Textures)
    let assets = {
        "model": "{% static 'webpack/models/siemens-logo.fbx' %}",
        "envmap": "{% static 'webpack/textures/spot1Lux.hdr' %}",
    };
</script>
{% with 'webpack/bundle.js' as interactive_static %}
    <script src="{% static interactive_static %}"></script>
{% endwith %}
{% endblock %}