/* BACKDROP BLUR */
.bg-backdrop-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.bg-dark-transparent {
    background: rgba( 0, 0, 0, 0.35);
}
.border-round-light-25 {
    border: 1px solid rgba( 255, 255, 255, .25);
    border-radius: 20px;
}
.footer {
    position: absolute;
    bottom: 60px;
    line-height: 40px;    
}
.opacity-0 {
    opacity:0!important;
}
.opacity-1 {
    opacity:0.2!important;
}
.opacity-2 {
    opacity:0.4!important;
}
.opacity-3 {
    opacity:0.6!important;
}
.opacity-4 {
    opacity:.8!important;
}
.opacity-5 {
    opacity:1!important;
}