/* BACKDROP BLUR */
.bg-backdrop-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.bg-dark-transparent {
    background: rgba( 0, 0, 0, 0.35);
}
.border-round-light-25 {
    border: 1px solid rgba( 255, 255, 255, .25);
    border-radius: 20px;
}
.footer {
    position: absolute;
    bottom: 80px;
    line-height: 40px;    
}